.editForm {
  width: 85%;
  display: flex;
  &__label {
  }

  &__input {
    width: 100%;
  }

  &__button {
    cursor: pointer;
    margin-left: 10px;
    &:focus {
      border: 1px solid var(--primary-color);
    }
  }
}

.dashed {
  text-decoration: line-through;
  opacity: 0.5;
}
