.form {
  box-shadow: var(--boxshadow);
  &__container {
    position: relative;
  }

  &__inputItems {
    display: grid;
    gap: 1rem;
    color: var(--text-color);
    padding: 20px;
    background-color: var(--app-Background-color);
    border-radius: 10px;
  }

  &__circle {
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    border: 1px solid var(--border-color);
  }
  &__button {
    position: absolute;
    z-index: 99;
    top: 50%;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    right: 25px;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    cursor: pointer;
    &:is(:hover, :focus, :active) {
      color: var(--primary-color);
      scale: 1.2;
    }

    &:disabled {
      color: var(--disable-color);
      cursor: not-allowed;
    }
  }
}
