.todoItem {
  padding: 20px 10px;
  color: var(--text-color);
  display: flex;

  &__check {
    scale: 1.3;
    margin-right: 10px;
    cursor: pointer;
  }

  &__labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 85%;
  }

  &__label {
    word-wrap: break-word;
    width: 90%;
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }

  &__actionContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &__actionBtns {
    cursor: pointer;
  }
}

// EditForm STYLES
