.listItem {
  padding: 25px;
  width: 100%;
  color: var(--text-color);

  &__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__hiddenCheckbox {
    display: none;
  }

  &__checkboxIcon {
    height: 25px;
    width: 25px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: transparent;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 24px;
    &.checked {
      background: linear-gradient(
        192deg,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
      color: #fff; /* Checked text color */
      border: none;
    }
  }
  &__label {
    user-select: none;
  }

  &__delete {
    margin-left: auto;
    cursor: pointer;
  }
}

.checkedItem {
  text-decoration: line-through;
  color: var(--completed-text-color);
}
