.listItem {
  padding: 10px 20px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  &:hover {
    background: var(--border-color);
  }

  &__input {
    margin-right: 10px;
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    cursor: pointer;
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--completed-text-color);
    height: 30px;
    padding: 25px;
    width: 100%;
    &:hover {
      color: var(--primary-color);
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__inputEdit {
    width: 100%;
    margin-right: 10px;
  }

  &__icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--primary-color);
      scale: 1.2;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 0.5rem;
  }
}

.dragging {
  box-shadow: 0 0 5px (var(--text-color));
}

.dashed {
  text-decoration: line-through;
  opacity: 0.5;
}
