.list {
  background-color: var(--app-Background-color);
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: var(--boxshadow);
  &__currentTask {
    padding: 10px 20px;
    color: var(--text-color);
    word-wrap: break-word;
    text-align: center;
  }

  &__taskName {
    color: var(--primary-color);
    margin-left: 10px;
  }

  &__item {
    border-bottom: 1px solid var(--border-color);
    &:last-child {
      border-bottom: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    color: var(--text-color);
    margin-top: 3rem;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__infoButton {
    &:hover {
      cursor: pointer;
      color: var(--hover-color);
    }
    &:focus {
      outline: 1px solid var(--primary-color);
      padding: 1px;
    }
  }
}
