.filter {
  margin-right: 10px;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--text-color);
  &:hover {
    color: var(--primary-color);
  }
  &:focus {
    outline: 1px solid var(--primary-color);
    padding: 2px;
  }
}
.selected {
  color: var(--primary-color);
}
