.slider {
  height: 40px;
  border: 2px solid white;
  border-radius: 20px;
}

.thumb {
  background-color: var(--text-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  border: 2px solid green($color: #000000);
}
.slider.green .thumb {
  background-color: green;
}
