@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

// COLORS

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  --primary-color: #8bcaff;
  --secondary-color: #d9eeff;
  --disable-color: hsla(0, 0%, 0%, 0.12);
  --app-Background-color: #f2f9ff;
  --completed-text-color: #d9eeff;
  --text-color: #153047;
  --hover-color: #5094d0;

  --background-image: linear-gradient(
    to right top,
    #f1f1f6,
    #e9e9ee,
    #e3e3e9,
    #f0f0f5,
    #ffffff
  );
  --border-color: hsl(252, 11%, 91%);
}

body[data-theme="dark"] {
  --primary-color: #316ea3;
  --secondary-color: #0e2231;
  --disable-color: hsla(233, 11%, 84%, 0.12);
  --app-Background-color: #04090d;

  --completed-text-color: #0e2231;
  --text-color: #f2f9ff;
  --hover-color: #1f496a;

  --background-image: linear-gradient(
    to right top,
    #0f172a,
    #182134,
    #202b3f,
    #2a364a,
    #334155
  );
  --border-color: hsl(235, 17%, 26%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--background-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.main {
  max-width: 540px;
  margin: 0 auto;
  background-color: var(--app-Background-color);
  color: var(--text-color);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__logo {
    font-size: 2rem;
    font-weight: 700;
    color: #316ea3;
  }
  &__themebtn {
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }
}
