@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

li {
  list-style: none;
}

// COLORS

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  --primary-color: #1534e4;
  --disable-color: hsla(0, 0%, 0%, 0.12);
  --app-Background-color: rgba(255, 255, 255, 0.5);
  --focus-color: hsl(240, 53%, 93%);
  --completed-text-color: hsl(0, 0%, 6%);
  --text-color: #030712;
  --hover-color: hsl(235, 21%, 11%);
  --background-image: linear-gradient(
    to right top,
    #d4d4d6,
    #b4b4bc,
    #c9c9cf,
    #f0f0f5,
    #ffffff
  );
  --border-color: hsl(252, 11%, 91%);
}

body[data-theme="dark"] {
  --primary-color: #94a1ff;
  --disable-color: hsla(233, 11%, 84%, 0.12);
  --app-Background-color: #171b21;
  --focus-color: hsl(235, 31%, 24%);

  --completed-text-color: rgb(210, 211, 219, 0.8);
  --text-color: rgb(255, 255, 255);
  --hover-color: hsl(236, 33%, 92%);
  --background-image: linear-gradient(
    to right top,
    #0f172a,
    #182134,
    #202b3f,
    #2a364a,
    #334155
  );
  --border-color: hsl(235, 17%, 26%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--background-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.main {
  max-width: 540px;
  margin: 0 auto;
  background-color: var(--app-Background-color);
  color: var(--text-color);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  &__themebtn {
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }
}
