.pomodoro {
  background-color: var(--app-Background-color);
  color: var(--text-color);
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  &__display {
    font-size: 2rem;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
